# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular Languages in Data Science
- Commonly used libraries in Data Science
- How to make a table
- How to create headers
- How to make simple arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. ggplot2
3. Tensorflow
4. Pandas

|Data Science Tools|
|:-------------------|
|Jupyter Notebook|
|Sypder|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Máté Boa